/* Existing .game-behaviour-warning styles */
.game-behaviour-warning {
  color: rgb(203, 129, 141);
  display: flex;
  padding: 12px 0px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px brown;
  text-align: center;
  font-size: 15px;
}

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: rgb(203, 129, 141) #1c1c1c;
  /* For Firefox */
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1c1c1c;
  /* Dark background */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(203, 129, 141);
  /* Bright accent color */
  border-radius: 10px;
  border: 2px solid #1c1c1c;
  /* Adding some space between the scrollbar and the track */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(203, 129, 141);
  /* Lighter shade on hover */
}

*::-webkit-scrollbar-corner {
  background: transparent;
  /* No corner for scrollbars in grid layouts */
}


.layout-container {
  width: 100%;
  margin: auto;
  background-color: #0e0121;
  /* height: 100vh; */
}

.mobile-header {
  display: none;
}

.sidebar {
  height: fit-content;
  padding: 49px 34px;
  overflow: hidden;
}

.sidebar>div {
  padding: 1px;
  background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
  overflow: hidden;
  border-radius: 16px;
  max-height: 100%;
}

.sidebar>div>div {
  background-color: #0e0121;
  padding: 52px 14px;
  border-radius: 16px;
  position: relative;
}

/* Mobile styles */
@media (max-width: 767px) {
  .mobile-header {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .desktop-header {
    display: none;
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
  }
}