/* Existing .game-behaviour-warning styles */
.game-behaviour-warning {
  color: rgb(203, 129, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px brown;
  text-align: center;
  font-size: 15px;
}

.game-behaviour-warning {
  color: rgb(203, 129, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px brown;
  text-align: center;
  font-size: 15px;
}

.layout-container {
  width: 100%;
  background-color: #0e0121;
}

.mobile-header {
  display: none;
}

.sidebar {
  height: fit-content;
  padding: 49px 34px;
  overflow: hidden;
}

.sidebar > div {
  padding: 1px;
  background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
  overflow: hidden;
  border-radius: 16px;
  height: 100%;
}

.sidebar > div > div {
  background-color: #0e0121;
  padding: 52px 14px;
  border-radius: 16px;
  position: relative;
}

/* Mobile styles */
@media (max-width: 767px) {
  .mobile-header {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .desktop-header {
    display: none;
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
  }
}
