/* Existing styles */
.game-behaviour-warning {
  color: rgb(203, 129, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px brown;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}

/* New and updated styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 99vh;
  background-color: #0e0121;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  height: 85vh;
}

.sidebar > div {
  height: 100%;
  padding: 1px;
  background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
  border-radius: 16px;
  overflow: hidden;
}

.sidebar > div > div {
  height: 100%;
  background-color: #0e0121;
  padding: 20px;
  border-radius: 16px;
  position: relative;
  overflow-y: auto;
}

/* Responsive styles */
@media (max-width: 767px) {
  .mobile-header {
    display: block;
  }
  
  .desktop-header {
    display: none;
  }
  
  .main-content {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
  
  .desktop-header {
    display: block;
  }
}