@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

body {
  margin: 0;
  background: #141219;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rowdies", sans-serif;
  /* border: solid 1px red; */
}

.star {
  font-size: 15px;
  color: #d3d3d3;
  text-align: center;
  padding-top: 10%;
}

button {
  outline: none;
  border: none;
}

@media only screen and (min-width: 600px) {
  .star {
    padding-top: 20%;
  }
}
