.window-layout {
    height: 500px;
    width: 400px;
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .handle {
        width: 100%;
        height: 40px;
        cursor: move;

        .close {
            cursor: pointer;
            width: fit-content;
            margin-left: 7px;
            margin-top: 5px;
        }
    }

    .body {
        overflow: scroll;
        white-space: pre-wrap;
        scrollbar-width: none;
    }

    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;

        .main {
            color: white;
            font-size: 30px;
            font-family: "Rowdies", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .sub {
            font-weight: 200;
            font-size: smaller;
        }
    }

    .body-section {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        padding: 0 20px;
    }

}

// 