$red: #ff3149;

.end-btn {
  display: inline-block;
  text-transform: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  line-height: 1em;
  transition: all 0.35s cubic-bezier(0.1, 0, 0, 1);
  border-radius: 6px;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  margin: 8px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.1em;
  text-shadow: 0 0 rgba(0, 0, 0, 0);
  font-size: large;
}

.end-btn:hover {
  border-radius: 8px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
  /*border: 1px solid rgba(0, 0, 0, .1);*/
  transform: scale(1.06);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}

.end-btn:active {
  transform: scale(0.98);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.end-btn:visited {
  transform: scale(1);
}

.cancel,
button.cancel {
  color: white;
  background: $red;
}

.cancel,
button.cancel:hover {
  color: #fff;
  background: lighten($red, 1%);
}

.cancel,
button.cancel:active {
  background: darken($red, 10%);
}

.end-wrapper {
  margin-top: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 0em;
  padding: 10px 0px 10px 0px;
  border-radius: 4px;
}
