.body-section {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.body-details {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    .wallet-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-bottom: 20px;

        .details-address {
            width: 100%;
            display: flex;
            justify-content: space-between;

            span:first-of-type {
                color: hsl(0, 1%, 65%)
            }
        }
    }

    .game-profiles {
        text-align: left;
        width: 100%;

        .profile-heading {
            text-decoration: underline;
        }

        .add-profile {
            background-color: white;
            display: flex;
            justify-content: space-between;
            border-radius: 8px;
            margin-top: 10px;

            input {
                border: none;
                margin: 3px;
                outline: 0;
                height: 25px;
                padding: 0 5px;
                width: 60%;
            }

            .add-profile-btn {
                border-radius: 8px;
                padding: 5px 5px;
                background-color: blue;
                color: white;
                cursor: pointer;
            }
        }

    }

    .disconnect-btn {
        border: solid 1px white;
        width: 80%;
        padding: 5px 15px;
        border-radius: 7px;
        cursor: pointer;
        font-size: 1.3rem;
        color: red;
        margin-bottom: 40px;
    }
}

.wallet {
    margin-top: 30px;

    span {
        text-decoration: underline;
    }

    .wallet-list {
        display: flex;
        justify-content: center;
        margin-top: 7px;
        gap: 5px;
    }

    .wallet-name-btn {
        border: solid 1px white;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 7px;
        cursor: pointer;
    }

}

// 