.sign {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  cursor: pointer;
}

.strkludo {
  font-size: xx-large;
  font-family: cursive;
}

.animateMe {
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  opacity: 0;
  color: #ffd553;
  text-shadow: 0 0 90px rgba(255, 213, 83, 1);
}

@media only screen and (max-width: 400px) {
  .animateMe {
    font-size: 40px;
  }
}
