.cmenu {
  text-align: center;
}

.relative-menu {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  display: inline-block;
}

.fa-play {
  font-size: 30px;
  padding-left: 5px;
}

.radmenu > ul {
  list-style-type:none;
}

@keyframes eye-focus {
  0% {
    -webkit-filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(10px);
  }
}

@keyframes focus-shift {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}

.radmenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.radmenu > button {
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.radmenu > button.show {
  display: flex !important;
}

.radmenu li {
  display: list-item;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}

.radmenu button {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #000000;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: none;
  text-decoration: none;
  color: 	#CCFF00;
  transition: all 1s ease;
  box-shadow: 0 0 15px #CCFF00;
  font-family: "segoe ui";
  font-weight: 400;
  font-size: 16px;
  outline: none;
  border: none;
}

.radmenu .selected {
  background: rgba(51, 51, 51, 0.9);
  display: flex;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  color: #f1f1f1;
  box-shadow: 0 0 10px #f1f1f1;
}

.radmenu .selected + ul > li:nth-child(1) {
  -webkit-transform: rotate(30deg) translateX(60px);
  transform: rotate(30deg) translateX(60px);
}

.radmenu .selected + ul > li:nth-child(1) > button {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.radmenu .selected + ul > li:nth-child(2) {
  -webkit-transform: rotate(105deg) translateX(60px);
  transform: rotate(105deg) translateX(60px);
}

.radmenu .selected + ul > li:nth-child(2) > button {
  -webkit-transform: rotate(-105deg);
  transform: rotate(-105deg);
}

.radmenu .selected + ul > li:nth-child(3) {
  -webkit-transform: rotate(248deg) translateX(60px);
  transform: rotate(248deg) translateX(60px);
}

.radmenu .selected + ul > li:nth-child(3) > button {
  -webkit-transform: rotate(-248deg);
  transform: rotate(-248deg);
}

.radmenu .selected + ul > li > button {
  display: flex;
}
