.window-layout {
    height: 500px;
    width: 400px;
    color: white;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    resize: both; 
    overflow: auto;
    z-index: 20;

    .handle {
        width: 100%;
        height: 40px;
        cursor: move;

        .close {
            cursor: pointer;
            margin: 5px 0 0 7px;
            width: fit-content;
        }
    }

    .body {
        overflow-y: scroll;
        white-space: pre-wrap;
        scrollbar-width: none;
    }

    .heading {
        display: flex;
        flex-direction: column;
        text-align: center;

        .main {
            font-size: 30px;
            font-family: "Rowdies", sans-serif;
            font-weight: 400;
        }

        .sub {
            font-size: smaller;
            font-weight: 200;
        }
    }

    .body-section {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        width: 100%;
    }
}

