.control {
  margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .control-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
}
