.control {
  margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .control-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    .control-button {
      color: #f5f5f5;
      margin-bottom: 10px;
      &
        .control-button-outer-ring
        .control-button-inner-ring
        .control-button-inner-inner-ring
        > div {
        background-color: #0e0121;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.5s;
        &:hover {
          background-color: white;
          color: #0e0121;
        }
      }
      /* Styles for the h3 label */
      + .control-button-label {
        opacity: 0;
        /* Initially invisible */
        transition: opacity 0.5s ease;
        color: #2dccfd;
        font-size: 13px;
        text-align: center;
      }
      /* When .control-button is hovered */
      &:hover + .control-button-label {
        opacity: 1;
      }
      .control-button-outer-ring {
        padding: 2px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
        margin: 0 auto;
        margin-bottom: 3px;
        .control-button-inner-ring {
          background: #0e0121;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          padding: 5px;
          .control-button-inner-inner-ring {
            padding: 2px;
            border-radius: 50%;
            background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
