.window-layout {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 505px;
  border-radius: 12px;
  width: 480px;
  color: #f5f5f5;
  padding: 2px;
  position: absolute;
  display: flex;
  background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
  flex-direction: column;
  overflow: auto;
  z-index: 20;
  transition: all 0.5s ease-in-out;
  & > div {
    background: linear-gradient(180deg, #1b0043 0%, #0e0121 100%);
    position: relative;
    border-radius: 12px;
    padding: 24px;
    height: 505px;
    overflow: scroll;
    width: 100%;
    .close {
      cursor: pointer;
      position: absolute;
      top: 36px;
      right: 24px;
      width: fit-content;
    }
    .heading {
      display: flex;
      flex-direction: column;
      text-align: center;
      .main {
        font-size: 32px;
        font-family: "Rowdies", sans-serif;
        font-weight: 700;
        color: #2dccfd;
        margin-bottom: 8px;
      }
      .sub {
        font-size: smaller;
        font-weight: 200;
        font-size: 14px;
        font-weight: 400;
        color: #f5f5f5;
      }
      .border {
        background: linear-gradient(90deg, #2dccfd 0%, #ff01ff 100%);
        height: 1px;
        width: 100%;
        margin-top: 16px;
      }
    }
    .body-section {
      text-align: center;
      width: 100%;
      padding-top: 24px;
    }
  }
}
