.control {
  margin-top: 100px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  .control-buttons {
    display: flex;
    gap: 30px;
    width: fit-content;
    align-items: center;
  }
}