@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .start-over {
    position: absolute;
    cursor: pointer;
    left: 250px;
    width: 100px;
    text-decoration: underline;
    word-break: keep-all;
    bottom: 10px;
    color: #DC2525;
  }
}

.roll-button {
  background: linear-gradient(135deg, #00AEEF, #1D2671); // Gradient background
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50%; // Makes the button circular
  width: 120px;
  outline: #2DCCFD solid 1px;
  height: 120px;
  box-shadow:
    0 0 20px rgba(85, 102, 255, 0.733),
    /* Inner soft bluish glow */
    0 0 40px rgba(0, 174, 239, 0.5),
    /* Larger bluish glow */
    0 0 60px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;

  &:hover {
    .roll-text {
      transform: scale(1.1); // Scales up the text on hover
      transition: transform 0.3s ease;
    }
  }
}

.roll-text {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-shadow:
    1px 1px 0px black,
    /* Right-down */
    -1px -1px 0px black,
    /* Left-up */
    -1px 1px 0px black,
    /* Left-down */
    1px -1px 0px black,
    /* Right-up */
    1px 0px 0px black,
    /* Right */
    0px 1px 0px black,
    /* Down */
    -1px 0px 0px black,
    /* Left */
    0px -1px 0px black;
  transition: transform 0.3s ease; // Smooth scaling transition
}

.dice-container {
  align-items: center;
  display: flex;
  gap: 80px;
  flex-direction: column;
  text-align: center;
}

.spin-die {
  animation-name: spin;
  animation-duration: 0.125s;
  animation-iteration-count: 45;
}

#dice-body {
  width: 100px;
  height: 100px;
  background-color: #000;
  border: 4px solid white;
  border-radius: 10px;
  display: inline-grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "tl tc tr"
    "cl cc cr"
    "bl bc br";
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  #dice-body {
    width: 70px;
    height: 70px;
  }
}

.dot {
  width: 16px;
  height: 16px;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  display: none;
}

@media only screen and (max-width: 460px) {
  .dot {
    width: 8px;
    height: 8px;
  }
}

.show {
  display: block;
}

#tl {
  grid-area: tl;
}

#tc {
  grid-area: tc;
}

#tr {
  grid-area: tr;
}

#cl {
  grid-area: cl;
}

#cc {
  grid-area: cc;
}

#cr {
  grid-area: cr;
}

#bl {
  grid-area: bl;
}

#bc {
  grid-area: bc;
}

#br {
  grid-area: br;
}

.roll-btn {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: #000;
  color: white;
  outline: none;
  border: none;
  border: solid 2px white;
  cursor: pointer;
}

.roll-btn:active {
  background-color: #000;
  color: #ff9933;
  box-shadow: 0 2px 6px #ff9933;
  border: 1px solid #ff9933;
}