.game-help {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .game-help-heading {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .game-rules-rules {
    text-align: left;
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-transform: capitalize;
      span {
        color: #2dccfd;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}
