.avatar {
  color: #f5f5f5;
  margin-bottom: 20px;

  .avatar-outer-ring {
    padding: 2px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
    margin: 0 auto;
    margin-bottom: 3px;

    .avatar-inner-ring {
      background: #0e0121;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 8px;

      .avatar-inner-inner-ring {
        padding: 2px;
        border-radius: 50%;
        background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
        width: 100%;
        height: 100%;

        &>div {
          background-color: #0e0121;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  h3 {
    font-size: 12px;
    font-weight: bold;
  }

  h4 {
    font-size: 10px;
  }
}

.streak {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  .streak-num {
    padding: 12px 12px;
    border-radius: 12px;
    background-color: #230056;
    display: flex;
    gap: 8px;
    font-size: 12px;
    align-items: center;

    h5 {
      padding-left: 8px;
      border-left: 1px rgba(45, 204, 253, 0.48) solid;
      font-size: 12px;
      height: fit-content;
      font-weight: bold;
    }
  }

  .wallet-btn {
    background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
    padding: 1px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    border-radius: 12px;

    button {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #230056 0%, #121212 100%);
      color: #f5f5f5;
      border-radius: 12px;
      border: none;
      outline: none;
    }
  }

  .border {
    background: linear-gradient(90deg, #2dccfd 0%, #ff01ff 100%);
    height: 1px;
    width: 100%;
    margin-top: 12px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.wallet {
  .burner-btn {
    margin-top: 20px;

  }

  .wallet-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wallet-name-btn {
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    text-transform: capitalize;
  }
}

.player-stats {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .player-stat {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    text-align: left;
    border-radius: 12px;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;

    & div:first-child {
      padding: 12px 16px;
      background-color: #1b0043;
    }

    & div:last-child {
      padding: 12px 16px;
      background-color: #230056;
    }
  }
}

.player-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 1px #ff01ff solid;
  margin-bottom: 36px;

  button {
    background: #230056;
    border-radius: 12px;
    color: #f5f5f5;
    border: none;
    padding: 12px;
    font-size: 16px;
  }

  & button:last-child {
    border: 1px solid #2dccfd;
  }
}