.header {
  text-align: center;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 700;
}

.starkludo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  line-height: 84px;
}

.sub-header {
  font-size: 16px;
  margin-top: -13px;
}
