.top-players {
  background: url("../assets/images/graffiti.svg");
}

.player {
  width: 150px;
  .avatar {
    color: #f5f5f5;
    margin-bottom: 20px;
    .avatar-outer-ring {
      padding: 2px;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
      margin: 0 auto;
      margin-bottom: 3px;
      .avatar-inner-ring {
        background: #0e0121;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 8px;
        .avatar-inner-inner-ring {
          padding: 2px;
          border-radius: 50%;
          background: linear-gradient(180deg, #2dccfd 0%, #ff01ff 100%);
          width: 100%;
          height: 100%;
          & > div {
            background-color: #0e0121;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
    h3 {
      font-size: 12px;
      font-weight: bold;
    }
    h4 {
      font-size: 10px;
    }
  }
  .player-name {
    background: linear-gradient(
      -180deg,
      #2dccfd 0%,
      #256fa8 20%,
      #1b0043 83%,
      #2dccfd 100%
    );
    padding: 8px 24px;
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
    border: 1px #2dccfd solid;
    border-radius: 0 0 12px 12px;
    margin-bottom: 8px;
  }
  .player-rank {
    font-size: 12px;
    font-weight: bold;
    color: #f5f5f5;
  }
}

.second-third {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.player-one {
  margin: 0 auto;
}

.other-players {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  .player-strip {
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 150px auto auto auto auto;
    overflow: hidden;
    font-size: 14px;
    background: #230056;
    .account-name {
      background: #1b0043;
      padding: 8px;
      line-height: 24px;
    }
    div {
      padding: 8px;
      line-height: 24px;
      font-weight: bold;
    }
  }
}
