.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  background: #000000;
  position: relative;
  width: 800px;
  aspect-ratio: 1;
  margin: 49px 34px;
  cursor: pointer;
  height: 800px;
  /* border: 5px solid #fff; */
}

.player-profiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.player-profile {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.player-profile img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
  border: 2px solid white;
}

.player-red {
  bottom: -10px;
  left: 10px;
}
.player-green {
  top: -10px;
  left: 10px;
}
.player-yellow {
  top: -10px;
  right: 10px;
}
.player-blue {
  bottom: -10px;
  right: 10px;
}

.username-player {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 12px;
  white-space: nowrap;
}

.turn-indicator {
  position: absolute;
  top: 25px;
  left: 110px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 5px;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 13px;
}

.turn-indicator-left {
  position: absolute;
  top: 25px;
  left: -92px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 0px;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 13px;
}

.wooden-board {
  background-image: url("../assets/images/Grunge wood texture.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fire-board {
  background-image: url("../assets/images/Watercolor Tile Texture.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-row1,
.container-row3 {
  width: 100%;
  height: 40%;
}

.container-row2 {
  width: 100%;
  height: 20%;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
  height: 100%;
  width: 40%;
}

.row1-col2,
.row3-col2 {
  height: 100%;
  width: 20%;
}

.row1-col2 > div:hover,
.row3-col2 > div:hover {
  box-shadow:
    -2px 14px 28px rgba(0, 0, 0, 0.25),
    -2px 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row1-col1,
.row1-col2,
.row1-col3,
.row2-col1,
.row2-col2,
.row2-col3,
.row3-col1,
.row3-col2,
.row3-col3 {
  float: left;
}

.row2-col1,
.row2-col3 {
  width: 40%;
  height: 100%;
}

.row2-col1 > div:hover,
.row2-col3 > div:hover {
  box-shadow:
    -2px 14px 28px rgba(0, 0, 0, 0.25),
    -2px 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row2-col2 {
  width: 20%;
  height: 100%;
  border: 1px solid #fff;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1-col1-child,
.row1-col3-child,
.row3-col1-child,
.row3-col3-child {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.row1-col1-child > div,
.row1-col3-child > div,
.row3-col1-child > div,
.row3-col3-child > div {
  width: 35%;
  height: 35%;
  float: left;
  margin: 7.5%;
  /* box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25), -2px 10px 10px rgba(0, 0, 0, 0.22); */
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 50%;
}

.row1-col1-child > div:hover,
.row1-col3-child > div:hover,
.row3-col1-child > div:hover,
.row3-col3-child > div:hover {
  box-shadow:
    -2px 14px 28px rgba(0, 0, 0, 0.25),
    -2px 10px 10px rgba(0, 0, 0, 0.22);
}

.row1-col2 > div,
.row3-col2 > div {
  width: 33.333%;
  height: 16.667%;
  float: left;
  border: 1px solid #fff;
}

.row2-col1 > div,
.row2-col3 > div {
  width: 16.667%;
  height: 33.333%;
  float: left;
  border: 1px solid #fff;
}

.green {
  background-color: #659e0a;
}

.red {
  background-color: #99140b;
}

.blue {
  background-color: #0a6b9b;
}

.yellow {
  background-color: #aa8c0a;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000000;
}

.contain-triangles {
  height: 100%;
  width: 100%;
  position: relative;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-left: 45px solid #84c21f;
  border-bottom: 45px solid transparent;
  position: absolute;
  left: 0;
  top: 5.2px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid #dc2418;
  position: absolute;
  bottom: 0;
  left: 5.2px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-right: 45px solid #0092dc;
  border-bottom: 45px solid transparent;
  border-top: 45px solid transparent;
  position: absolute;
  right: 0;
  top: 5.2px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 45px solid #f6c700;
  position: absolute;
  top: 0;
  right: 5.2px;
}

.card {
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

.overlay {
  background-color: rgba($color: #f5f5f5, $alpha: 0.3);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  position: absolute;
  margin-block-start: 0;
  inset-block-start: 0;
  display: grid;
  place-items: center;
  padding: 1rem;
  cursor: default;
}

.text-white {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.vecstore {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.rot-down {
  transform: rotate(90deg);
  opacity: 0;
  animation: fade 0.8s infinite ease-out;

  @media only screen and (min-width: 992px) {
    transform: none;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    fill: #000179;
  }
  50% {
    opacity: 0.5;
    fill: #2c0e4e;
  }
  100% {
    opacity: 0;
  }
}

.rot-down:nth-child(1) {
  animation-delay: 0s;
}

.rot-down:nth-child(2) {
  animation-delay: 0.2s;
}

.rot-down:nth-child(3) {
  animation-delay: 0.4s;
}

.rot-down:nth-child(4) {
  animation-delay: 0.6s;
}

.rot-down:nth-child(3),
.rot-down:nth-child(4) {
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .overlay-child {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 400px;
    height: 400px;
    margin-top: 50px;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 35px solid #84c21f;
    border-bottom: 35px solid transparent;
    position: absolute;
    left: 0;
    top: 4.2px;
  }

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #dc2418;
    position: absolute;
    bottom: 0;
    left: 4.2px;
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-right: 35px solid #0092dc;
    border-bottom: 35px solid transparent;
    border-top: 35px solid transparent;
    position: absolute;
    right: 0;
    top: 4.2px;
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #f6c700;
    position: absolute;
    top: 0;
    right: 4.2px;
  }
}

@media only screen and (max-width: 460px) {
  .container {
    width: 350px;
    height: 350px;
    margin-top: 60px;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #84c21f;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 0;
    top: 4.2px;
  }

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #dc2418;
    position: absolute;
    bottom: 0;
    left: 4.2px;
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-right: 30px solid #0092dc;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    position: absolute;
    right: 0;
    top: 4.2px;
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #f6c700;
    position: absolute;
    top: 0;
    right: 4.2px;
  }
}
