.game-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;

  .play-now {
    color: green;
    text-decoration: underline;
  }

  .select-players {
    display: flex;
    justify-content: center;
    gap: 1rem;



    .select-player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;

      .select-info {
        font-size: .8rem;
      }
    }
  }
}