.multiplayer-head {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  & div:first-child {
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto 150px auto auto;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    background: #230056;
    .account-name {
      background: #1b0043;
      padding: 12px;
      line-height: 24px;
    }
    div {
      padding: 12px;
      line-height: 24px;
      font-weight: bold;
    }
  }
  & .current {
    padding: 0px 20px;
    border-radius: 12px;
    background: #1b0043;
    color: #f5f5f5;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.border {
  background: linear-gradient(90deg, #2dccfd 0%, #ff01ff 100%);
  height: 1px;
  width: 100%;
  margin-top: 16px;
}

.accounts {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .account-strip {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;
    & button {
      background: linear-gradient(
        -180deg,
        #2dccfd 0%,
        #256fa8 20%,
        #1b0043 83%,
        #2dccfd 100%
      );
      width: 94px;
      text-align: center;
      //   padding: 8px 30px;
      font-size: 12px;
      font-weight: bold;
      color: #f5f5f5;
      border: 1px #2dccfd solid;
      border-radius: 20px;
    }
    & div:first-child {
      border-radius: 12px;
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      text-align: left;
      overflow: hidden;
      font-size: 14px;
      background: #230056;
      .account-name {
        background: #1b0043;
        padding: 12px;
        line-height: 24px;
      }
      div {
        padding: 12px;
        line-height: 24px;
        font-weight: bold;
      }
    }
  }
}
