.title {
  margin-top: 10px;
}
.radio-buttons-switch-board {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.button-item {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
}